<config>
	<comment>Example of config file: change its as your need.</comment>
	<serverpasswd>abcdef</serverpasswd>
	<serverport>21</serverport>
	<serverhome>d:/GG/FTP</serverhome>
	<serverthread>8</serverthread>
	<sessionlimit>102400</sessionlimit>
	<globallimit>1024000</globallimit>
	<sessionlimit2>0</sessionlimit2>
	<globallimit2>0</globallimit2>
	<timeoutcon>10000</timeoutcon>
	<deleteonabort>0</deleteonabort>
	<usenio>0</usenio>
	<usefastmd5>1</usefastmd5>
	<fastmd5>D:/NEWJARS/goldengate/lib/arch/win32_x86/MD5.dll</fastmd5>
	<blocksize>65536</blocksize>
	<rangeport>
		<min>1049</min>
		<max>32000</max>
	</rangeport>
	<authentfile>config/authent.xml</authentfile>
</config>